
* {
  box-sizing: border-box;
}

body{
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  margin: 0;
}

@media (min-width: 992px) {
  .container-fluid>.row>.left_card{
    margin-left: 8%;
  }
}


div.col-lg-12{
  margin: 0;
}

.left_card, .right_card{
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel-inner,.carousel-item{
  height: 400px;
}

.main_content {
  background-color: #f3f3f3;
}

.main_left, .main_right {
  padding-top: 20px;
  padding-bottom: 20px;
}

.no-padding {
  padding-left: 0!important;
  padding-right: 0!important;
}

.poetry_main{
  background-color: #f3f3f3;
}

.poem-card{
  padding: 16px 20px 10px;
  margin-bottom: 15px;
  background-color: #ffffff;

  border-radius: 7px;
}

.poem-card .poem-title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.poem-card .poem-author {
  padding-top: 6px;
  padding-bottom: 6px;
}

#page_bottom{
  border-radius: 7px;
  background: #FFFFFF;
  text-align: center;
  line-height: 36px;
  vertical-align: center;
  height: 50px;
}


.poem-tool {
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 14px;
  border-bottom: 1px solid #f3f3f3;
}

.poem-tool>div{
  margin: 0 5px;
}

.layui-card>.layui-card-body{
  margin-bottom: 10px;
}

.poem-tag>a{
  color: rgba(0,0,0,0.56);
}

.dianZhan{
  float: right;
}
