
* {
  box-sizing: border-box;
}

body{
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  margin: 0;
}
p{
  margin: 0 0 7px;
}
a{
  color: #009688 !important;
}
a:hover{
  text-decoration: none;
}

i{
  margin: 0 5px;
}

@media (min-width: 992px) {
  .container-fluid>.row>.left_card{
    margin-left: 8%;
  }
}


div.col-lg-12{
  margin: 0;
}

.left_card, .right_card{
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel-inner,.carousel-item{
  max-height: 400px;
}

.main_content {
  background-color: #f3f3f3;
}

.main_left, .main_right {
  padding-top: 20px;
  padding-bottom: 20px;
}

.no-padding {
  padding-left: 0!important;
  padding-right: 0!important;
}

.poetry_main{
  background-color: #f3f3f3;
}

.poem-card{
  padding: 16px 20px 10px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 7px;
}

.poem-card .poem-title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.poem-card .poem-author {
  padding-top: 6px;
  padding-bottom: 6px;
}

#page_bottom{
  border-radius: 7px;
  background: #FFFFFF;
  text-align: center;
  line-height: 36px;
  vertical-align: center;
  height: 50px;
}


.poem-tool {
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 14px;
  border-bottom: 1px solid #f3f3f3;
}

.poem-tool>div{
  cursor: pointer;
}

.layui-card>.layui-card-body{
  margin-bottom: 10px;
}

.poem-tag{
  color: #999;
}

.dianZan{
  float: right;
}


.sentence-part{
  padding-bottom: 20px;
  padding-top: 20px;
  margin: auto;
}

.sentence-content-list{
  padding: 30px 100px 20px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 7px;
}

.sentenceContent{
  color: #999;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571;
}
.sentenceItem{
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.sentenceItem.selected {
  border: 1px solid #e6e6e6;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  padding: 0 15px;
  margin-top: -8px;
  border-radius: 8px;
  box-shadow: 0 4px 18px -4px rgba(0,0,0,.1);
}

.sentence{
  font-weight: 500;
  color: #333;
  font-size: 17px;
  line-height: 1.78em;
  padding-bottom: 8px;
  padding-top: 20px;
  margin-bottom: 0;
}

.sentence-right{
  font-size: 14px;
  float: right;
  color: #999;
}

.sentenceTool {
  font-size: 14px;
  padding-top: 6px;
  margin-bottom: 40px;
  color: #999;
}
/*.sentenceTool>div{*/
/*  float: left;*/
/*}*/


.side-list{
  padding-left: 0;
  margin-bottom: 0;
  font-size: 14px;
}
.sideBar-list-item{
  display: flex;
  color: #666 !important;
  align-items: center;
  padding: 0 15px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}
.sideBar-list-item:hover{
  background: #f7f8fa;;
}

.SideBar-navNumber{
  padding: 1px 8px;
  border-radius: 5px;
  background: #f7f8fa;
  color: #8590a6;
  font-size: 10px;
  margin-left: 20px;
}

.author_part,.dynasty_part{
  padding-bottom: 20px;
  padding-top: 20px;
  /*margin-top: 20px;*/
  margin: auto;
  /*background: #FFFFFF;*/
}

.author_content,.dynasty_content{
  /*margin-top: 20px;*/
  padding: 30px 60px 20px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 7px;
}
.dynasty_kind{
  border-bottom: 1px solid rgba(30, 126, 52, 0.43);
  padding-bottom: 8px;
  margin-bottom: 20px;
}
.dynasty_kind>span{
  font-weight: bold;
  font-size: 22px;
  color: #1e7e34;
}
.dynasty_kind>ul>li{
  margin: 0 4px 0;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.47);
  cursor: pointer;
}
.author_item{
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 14px;
  padding-bottom: 14px;
}
.author_item>span{
  display: inline-block;
  margin-bottom: 4px;
  font-size: 16px;
  color: #1e7e34;
}

.dynasty_content .table-title{
  text-align: center;
  font-size: 22px;
  color: #1e7e34;
}

.about-me{
  text-align: center;
  color: rgba(0, 0, 0, 0.42);
  font-size: 18px;
  font-weight: bold;
}
.about-me span{
  margin-bottom: 40px;
}

.about-me .me-img{
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-top: -130px;
}


.about_part{
  padding-bottom: 20px;
  padding-top: 20px;
  /*margin-top: 20px;*/
  margin: auto;
  /*background: #FFFFFF;*/
}

.about_content{
  /*margin-top: 20px;*/
  padding: 30px 60px 20px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 90px;
}

.about-me-content{
  /*margin-top: 70px;*/
  line-height: 22px;
}

.about-me-item .about-me-item-title{
  font-size: 16px;
  color: #1e7e34;
  margin-bottom: 4px;
  font-family:  Arial, sans-serif;
}
.about-me-item .about-me-item-content{
  text-indent: 2em;
  color: #999;
  margin-bottom: 20px;
}
.about-me-item .about-me-item-subtitle{
  /*margin: 0 0 5px;*/
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 4px;
  margin-bottom: 10px;
  text-indent: 2em;
}