<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header('权限新增')"/>
</head>
<body>
<form action="" class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">名&emsp;称:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="powerName" placeholder="权限名称"
                               type="text">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">父&emsp;级:</label>
                    <div class="layui-input-block ">
                        <ul class="dtree " data-id="-1" id="selectParent" name="parentId"></ul>
                    </div>
                </div>
                <br>

                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">图&emsp;标:</label>
                    <div class="layui-input-block">
                        <input class="layui-input" id="icon" lay-filter="icon" name="icon" type="text">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">类&emsp;型:</label>
                    <div class="layui-input-block">
                        <input lay-filter="powerType" name="powerType" title="目录" type="radio" value="0">
                        <input checked lay-filter="powerType" name="powerType" title="菜单" type="radio" value="1">
                        <input lay-filter="powerType" name="powerType" title="按钮" type="radio" value="2">
                    </div>
                </div>
                <br>

                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">排&emsp;序:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" name="sort" placeholder="排序"
                               type="text">
                    </div>
                </div>
                <div class="layui-form-item layui-inline" id="openTypeItem">
                    <label class="layui-form-label">打&emsp;开:</label>
                    <div class="layui-input-block">
                        <select id="openType" name="openType">
                            <option value=""></option>
                            <option value="_iframe">框架</option>
                            <option value="_blank">签页</option>
                        </select>
                    </div>
                </div>
                <br>

                <div class="layui-form-item layui-inline" id="powerCodeItem">
                    <label class="layui-form-label">标&emsp;识:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" id="powerCode" name="powerCode" placeholder="权限标识"
                               type="text">
                    </div>
                </div>
                <div class="layui-form-item layui-inline" id="powerUrlItem">
                    <label class="layui-form-label">路&emsp;径:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" id="powerUrl" name="powerUrl" placeholder="菜单路径"
                               type="text">
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="power-save" lay-submit="" type="submit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button class="pear-btn pear-btn-sm" type="reset">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="common :: footer"/>
<script>
    layui.use(['form', 'jquery', 'iconPicker', 'dtree', 'dictionary'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let iconPicker = layui.iconPicker;
        let dtree = layui.dtree;

        dtree.renderSelect({
            elem: "#selectParent",
            url: "/system/power/selectParent",
            method: 'get',
            selectInputName: {nodeId: "parentId", context: "powerName"},
            skin: "laySimple",
            dataFormat: "list",
            line: true,
            ficon:["0","8"],  // 设定一级图标样式。0表示方形加减图标，8表示小圆点图标
            // icon: ["0","5"], // 设定二级图标样式。0表示文件夹图标，5表示叶子图标
            response: {treeId: "powerId", parentId: "parentId", title: "powerName"},  //修改response中返回数据的定义
            selectInitVal: "0"
        });

        form.on("radio(powerType)", function () {
            if (this.value === '0') {
                $("#powerUrlItem").hide();
                $("#powerCodeItem").hide();
                $("#openTypeItem").hide();
                $("#powerUrl").val("");
                $("#powerCode").val("");
                $("#openType").val("");
            } else if (this.value === '1') {
                $("#powerUrlItem").show();
                $("#powerCodeItem").show();
                $("#openTypeItem").show();
            } else if (this.value === '2') {
                $("#powerUrlItem").hide();
                $("#openTypeItem").hide();
                $("#powerCodeItem").show();
                $("#powerUrl").val("");
                $("#openType").val("");
            }
        });

        form.on('submit(power-save)', function (data) {
            data.field.powerName = $('[name="powerName"]').val().trim();
            data.field.icon = "layui-icon " + data.field.icon;
            $.ajax({
                url: '/system/power/save',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.treetable.reload("#power-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });

        iconPicker.render({
            // 选择器，推荐使用input
            elem: '#icon',
            // 数据类型：fontClass/unicode，推荐使用fontClass
            type: 'fontClass',
            // 是否开启搜索：true/false
            search: false,
            style: 'color: #5FB878;',
            // 是否开启分页
            page: true,
            // 每页显示数量，默认12
            limit: 12,
            // 点击回调
            // click: function (data) {
            //     console.log(data);
            // }
        });
    })
</script>
<script>
</script>
</body>
</html>