<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header('词牌修改')"/>
    <th:block th:include="common :: scorlling ('textarea')"/>
</head>
<body>
<form class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">Id:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" name="authorId" placeholder=""
                               th:value="${author.authorId}" lay-verify="required" type="text" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">作 者:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" name="name" placeholder="请输入作者"
                               th:value="${author.name}" maxlength="30" show-word-limit lay-verify="required" type="text" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">朝 代:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" name="dynasty" placeholder="请输入朝代"
                               th:value="${author.dynasty}" maxlength="8" show-word-limit type="text" >
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label">简 介:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" name="briefIntro" placeholder="请输入作者简介"
                               th:value="${author.briefIntro}" maxlength="1700" show-word-limit type="text" >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">其 它 介 绍:</label>
                    <div class="layui-input-block">
                        <textarea style="height: 150px"  class="layui-textarea" name="elseIntro" placeholder="请输入其它介绍"
                                th:text="${author.elseIntro}" ></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="ci-pai-save" lay-submit="" type="submit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button class="pear-btn pear-btn-sm" type="reset">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="common :: footer"/>
<script>
    layui.use(['form', 'jquery', 'inputAttr'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let inputAttr = layui.inputAttr;

        inputAttr.render();

        form.on('submit(ci-pai-save)', function (data) {
            $.ajax({
                url: '/poetry/author/update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("author-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });

    })
</script>
</body>
</html>