<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiyu.chaitoufeng.mapper.site.HomeUserMapper">

    <resultMap id="HomeUserMap" type="HomeUser">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="profileName" column="profile_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="enable" column="enable" jdbcType="CHAR"/>
            <result property="sex" column="sex" jdbcType="CHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,profile_name,
        password,email,enable,
        sex,remark,create_time
    </sql>

    <select id="selectPageList" resultMap="HomeUserMap">
        select * from home_user
        <where>
            <if test="userId!=null and userId!=''">
                and user_id like "%"#{userId}"%"
            </if>
            <if test="username!=null and username!=''">
                and username like "%"#{username}"%"
            </if>
            <if test="profileName!=null and profileName!=''">
                and profile_name like "%"#{profileName}"%"
            </if>
            <if test="password!=null and password!=''">
                and password like "%"#{password}"%"
            </if>
            <if test="email!=null and email!=''">
                and email like "%"#{email}"%"
            </if>
            <if test="enable!=null and enable!=''">
                and enable like "%"#{enable}"%"
            </if>
            <if test="sex!=null and sex!=''">
                and sex like "%"#{sex}"%"
            </if>
            <if test="remark!=null and remark!=''">
                and remark like "%"#{remark}"%"
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
