<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header('钗头凤 Admin 管理平台')"/>
    <link th:href="@{/static/admin/css/loader.css}" rel="stylesheet"/>
    <link th:href="@{/static/admin/css/admin.css}" rel="stylesheet"/>
</head>
<!-- 结 构 代 码 -->
<body class="layui-layout-body pear-admin">
<!-- 布 局 框 架 -->
<div class="layui-layout layui-layout-admin">
    <!-- 顶 部 样 式 -->
    <div class="layui-header">
        <!-- 菜 单 顶 部 -->
        <div class="layui-logo">
            <!-- 图 标 -->
            <img class="logo">
            <!-- 标 题 -->
            <span class="title"></span>
        </div>
        <!-- 顶 部 左 侧 功 能 -->
        <ul class="layui-nav layui-layout-left">
            <li class="collaspe layui-nav-item"><a class="layui-icon layui-icon-shrink-right" href="#"></a></li>
            <li class="refresh layui-nav-item"><a class="layui-icon layui-icon-refresh-1" href="#" loading=600></a></li>
        </ul>
        <!-- 多 系 统 菜 单 -->
        <div class="layui-layout-control" id="control"></div>
        <!-- 顶 部 右 侧 菜 单 -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide-xs">
                <a class="fullScreen layui-icon layui-icon-screen-full" href="#"></a></li>
            <li class="layui-nav-item layui-hide-xs">
                <a class="layui-icon layui-icon-website" target="_blank" href="/index"></a></li>
            <li class="layui-nav-item layui-hide-xs message"></li>
            <li class="layui-nav-item user">
                <!-- 头 像 -->
                <a class="layui-icon" href="javascript:;">
                    <span th:if="${not #strings.isEmpty(#authentication.principal.avatar)}">
                        <img th:src="'/system/file/download/'+${#authentication.principal.avatar}" class="layui-nav-img">
                    </span>
                    <span th:if="${#strings.isEmpty(#authentication.principal.avatar)}">
                        <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                    </span>
                    <span>[[${#authentication.principal.realName}]]</span>
                    <i class="layui-icon layui-icon-down layui-nav-more"></i>
                </a>
                <!-- 功 能 菜 单 -->
                <dl class="layui-nav-child">
                    <dd><a class="layui-icon layui-icon-username" user-menu-id="5555" user-menu-title="基本资料" user-menu-url="/system/user/center">&nbsp;基本资料</a></dd>
                    <dd><a class="layui-icon layui-icon-logout logout" href="javascript:void(0);">&nbsp;注销登录</a></dd>
                </dl>
            </li>
            <!-- 主 题 配 置 -->
            <li class="layui-nav-item setting"><a class="layui-icon layui-icon-more-vertical" href="#"></a></li>
        </ul>
    </div>
    <!-- 侧 边 区 域 -->
    <div class="layui-side layui-bg-black">
        <!-- 菜 单 顶 部 -->
        <div class="layui-logo">
            <!-- 图 标 -->
            <img class="logo">
            <!-- 标 题 -->
            <span class="title"></span>
        </div>
        <!-- 菜 单 内 容 -->
        <div class="layui-side-scroll">
            <div id="sideMenu">
            </div>
            <!--<div id="sideMenu" style="height: 100%;">-->
            <!--    <div style="height:100%!important;" class="pear-side-scroll layui-side-scroll dark-theme">-->
            <!--        <ul lay-filter="sideMenu" class="layui-nav arrow   pear-menu layui-nav-tree pear-nav-tree">-->
            <!--            <li class="layui-nav-item layui-nav-itemed">-->
            <!--                <a href="javascript:;" menu-type="0" menu-id="1">-->
            <!--                    <i class="layui-icon layui-icon-set-fill"></i>-->
            <!--                    <span>系统管理</span><i class="layui-icon layui-icon-down layui-nav-more"></i></a>-->
            <!--                <dl class="layui-nav-child" style="height: auto;">-->
            <!--                    <dd class="layui-nav-itemed layui-this">-->
            <!--                        <a class="site-demo-active" menu-type="1" menu-url="/system/user/main" menu-id="1322085079861690368" menu-title="用户管理" menu-icon="layui-icon layui-icon layui-icon layui-icon layui-icon-rate" href="javascript:;">-->
            <!--                        <i class="layui-icon layui-icon layui-icon layui-icon layui-icon-rate"></i>-->
            <!--                        <span>用户管理</span></a></dd>-->
            <!--                    <dd><a class="site-demo-active" menu-type="1" menu-url="/system/file/main" menu-id="1304793451996381184" menu-title="文件管理" menu-icon="layui-icon layui-icon layui-icon-read" href="javascript:;">-->
            <!--                        <i class="layui-icon layui-icon layui-icon-read"></i>-->
            <!--                        <span>文件管理</span></a></dd>-->

            <!--                </dl>-->
            <!--            </li>-->

            <!--            <li class="layui-nav-item">-->
            <!--                <a href="javascript:;" menu-type="0" menu-id="694203021537574912">-->
            <!--                    <i class="layui-icon  layui-icon-console"></i>-->
            <!--                    <span>系统监控</span><i class="layui-icon layui-icon-down layui-nav-more"></i></a>-->
            <!--                <dl class="layui-nav-child">-->
            <!--                    <dd class="">-->
            <!--                        <a class="site-demo-active" menu-type="1" menu-url="/system/online/main" menu-id="1330865171429588992" menu-title="在线用户" menu-icon="layui-icon layui-icon layui-icon-username" href="javascript:;">-->
            <!--                            <i class="layui-icon layui-icon layui-icon-username"></i>-->
            <!--                            <span>在线用户</span></a></dd>-->
            <!--                    <dd class="">-->
            <!--                        <a class="site-demo-active" menu-type="1" menu-url="/schedule/job/main" menu-id="442650770626711552" menu-title="定时任务" menu-icon="layui-icon layui-icon layui-icon layui-icon  layui-icon-chat" href="javascript:;">-->
            <!--                            <i class="layui-icon layui-icon layui-icon layui-icon  layui-icon-chat"></i>-->
            <!--                            <span>定时任务</span></a></dd>-->
            <!--                </dl>-->
            <!--            </li>-->
            <!--        </ul>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
    </div>
    <!-- 视 图 页 面 -->
    <div class="layui-body">
        <!-- 内 容 页 面 -->
        <div id="content"></div>
    </div>
    <!-- 遮 盖 层 -->
    <div class="pear-cover"></div>
    <!-- 加 载 动 画 -->
    <div class="loader-main">
        <!-- 动 画 对 象 -->
        <div class="loader"></div>
    </div>
</div>
<!-- 移 动 端 便 捷 操 作 -->
<div class="pear-collasped-pe collaspe">
    <a class="layui-icon layui-icon-shrink-right" href="#"></a>
</div>
<!-- 依 赖 脚 本 -->
<th:block th:include="common :: footer"/>
<script th:inline="javascript">
    layui.use(['admin', 'jquery', 'layer', 'popup'], function () {
        let admin = layui.admin;
        let $ = layui.jquery;
        let layer = layui.layer;
        let popup = layui.popup;

        // 框架初始化时会读取 根目录下 pear.config.yml 文件作为初始化配置
        // 你可以通过 admin.setConfigPath 方法修改配置文件位置
        // 你可以通过 admin.setConfigType 方法修改配置文件类型
        admin.setConfigType("yml");
        admin.setConfigPath("/static/pear.config.yml");
        admin.render();

        // 注销实现
        admin.logout(function () {
            let loading = layer.load();
            $.ajax({
                url: '/logout',
                dataType: 'json',
                type: 'post',
                success: function (result) {
                    layer.close(loading);
                    if (result.success) {
                        popup.success(result.msg, function () {
                            location.href = "/index";
                        });
                        return true;
                    }
                }
            })
        })
    })
</script>
</body>
</html>
