<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header('登录')"/>
    <link rel="stylesheet" th:href="@{/static/admin/css/other/login.css}"/>
</head>
<!-- 代 码 结 构 -->
<body background="admin/images/login.svg" style="margin-top: -120px">
<form action="javascript:void(0);" class="layui-form">
    <div class="layui-form-item">
        <img class="logo" src="../static/admin/images/logo.png"/>
        <div class="title">钗头凤</div>
        <div class="desc">
            明 湖 区 最 具 影 响 力 的 设 计 规 范 之 一
        </div>
    </div>
<div class="layui-card ">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">登录</li>
                <li></li>
                <li>注册</li>
            </ul>
            <div class="layui-tab-content" style="margin-top: -4px">
                <div class="layui-tab-item layui-show" id="login">
                    <div class="layui-form-item">
                        <input class="layui-input" hover name="username" placeholder="账 户 : admin " type="text"/>
                    </div>
                    <div class="layui-form-item">
                        <input class="layui-input" hover name="password" placeholder="密 码 : admin " type="password"/>
                    </div>
                </div>

                <div class="layui-tab-item"></div>

                <div class="layui-tab-item " id="register">
                    <div class="layui-form-item">
                        <input class="layui-input" hover name="username" placeholder="账 户 名 " type="text"/>
                    </div>
                    <div class="layui-form-item">
                        <input class="layui-input" hover name="password" placeholder="密 码" type="password"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <input class="code layui-input layui-input-inline" style="width: 160px" hover name="captcha" placeholder="验证码 : "/>
                    <img class="codeImage" id="captchaImage" th:src="@{/system/captcha/generate}" src="/admin/images/captcha.gif"/>
                </div>
                <div class="layui-form-item">
                    <input lay-skin="primary" name="remember-me" title="记住密码" type="checkbox">
                </div>
                <div class="layui-form-item">
                    <button class="pear-btn pear-btn-success login" lay-filter="login" lay-submit>
                        登 录
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
    </form>
<!--<form action="javascript:void(0);" class="layui-form">-->
<!--    <div class="layui-form-item">-->
<!--        <img class="logo" src="../static/admin/images/logo.png"/>-->
<!--        <div class="title">钗头凤</div>-->
<!--        <div class="desc">-->
<!--            明 湖 区 最 具 影 响 力 的 设 计 规 范 之 一-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="layui-form-item">-->
<!--        <a href="javascript:void(0);" class="layui-this" style="float: left">登 录</a>-->
<!--        <a href="javascript:void(0);" style="float: right">注 册</a>-->
<!--    </div>-->
<!--    <div class="layui-form-item">-->
<!--        <input class="layui-input" hover name="username" placeholder="账 户 : admin " type="text" value="admin"/>-->
<!--    </div>-->
<!--    <div class="layui-form-item">-->
<!--        <input class="layui-input" hover name="password" placeholder="密 码 : admin " type="password" value="admin"/>-->
<!--    </div>-->
<!--    <div class="layui-form-item">-->
<!--        <input class="code layui-input layui-input-inline" hover name="captcha" placeholder="验证码 : "/>-->
<!--        <img class="codeImage" id="captchaImage" th:src="@{/system/captcha/generate}" src="/admin/images/captcha.gif"/>-->
<!--    &lt;!&ndash;    /system/captcha/generate&ndash;&gt;-->
<!--    &lt;!&ndash;    /admin/images/captcha.gif&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="layui-form-item">-->
<!--        <input lay-skin="primary" name="remember-me" title="记住密码" type="checkbox">-->
<!--    </div>-->
<!--    <div class="layui-form-item">-->
<!--        <button class="pear-btn pear-btn-success login" lay-filter="login" lay-submit>-->
<!--            登 录-->
<!--        </button>-->
<!--    </div>-->
<!--</form>-->
<th:block th:include="common :: footer"/>
<script>
    layui.use(['form', 'jquery', 'layer', 'button', 'popup'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let layer = layui.layer;
        let button = layui.button;
        let popup = layui.popup;
        let captchaPath = "/system/captcha/generate";


        $('ul li:first').click(
            function (){
                $('button').text('登 录').attr('lay-filter','login');
                $('[name="remember-me"]').parent().removeClass('layui-hide')
            }
        )

        $('ul li:last').click(
            function (){
                $('button').text('注 册').attr('lay-filter','register');
                $('[name="remember-me"]').parent().addClass('layui-hide')
            }
        )

        form.on('submit(login)', function (data) {
            let loader = layer.load();
            let btn = button.load({elem: '.login'});
            data.field.username = $('#login div input:first').val();
            data.field.password = $('#login div input:last').val();
            $.ajax({
                url: '/login',
                data: data.field,
                type: "post",
                dataType: 'json',
                success: function (result) {
                    layer.close(loader);
                    btn.stop(function () {
                        if (result.success) {
                            popup.success(result.msg, function () {
                                location.href = "/admin";
                            })
                        } else {
                            popup.failure(result.msg, function () {
                                document.getElementById("captchaImage").src = captchaPath + "?" + Math.random();
                            });
                        }
                    })
                }
            });
            return false;
        });


        form.on('submit(register)', function (data) {
            let loader = layer.load();
            let btn = button.load({elem: '.login'});
            console.log(data.field)
            $.ajax({
                url: '/register',
                data: data.field,
                type: "post",
                dataType: 'json',
                success: function (result) {
                    layer.close(loader);
                    btn.stop(function () {
                        if (result.success) {
                            popup.success(result.msg, function () {
                                location.href = "/admin";
                            })
                        } else {
                            popup.failure(result.msg, function () {
                                document.getElementById("captchaImage").src = captchaPath + "?" + Math.random();
                            });
                        }
                    })
                }
            });
            return false;
        });

        $("#captchaImage").click(function () {
            // Math.random() 加个随机参数，不适用浏览器缓存
            document.getElementById("captchaImage").src = captchaPath + "?" + Math.random();
        })
        setInterval(function () {
            document.getElementById("captchaImage").src = captchaPath + "?" + Math.random();
        }, 60 * 1000);
        validateKickout();
    })
</script>
<script>
    <!--如果当前窗口不是顶级窗口，就强制修改为顶级窗口； 目的是为了不让别人用iframe嵌入你的页面-->
    if (window != top) {
        top.location.href = location.href;
    }

    function validateKickout() {
        if (getParam("abnormalout") == 1) {
            layer.alert("<font color='red'>您已在别处登录，请您修改密码或重新登录</font>", {
                    icon: 0,
                    title: "系统提示"
                },
                function (index) {
                    layer.close(index);
                });
        } else if (getParam("sessionout") == 1) {
            layer.alert("<font color='red'>登录已过期，请重新登录</font>", {
                    icon: 0,
                    title: "系统提示"
                },
                function (index) {
                    layer.close(index);
                });
        }
    }

    function getParam(paramName) {
        var reg = new RegExp("(^|&)" + paramName + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURI(r[2]);
        return null;
    }
</script>
</body>
</html>