<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="../static/component/layui/css/layui.css">
    <link rel="stylesheet" href="../static/component/pear/css/pear.css">
    <script src="../static/component/layui/layui.js"></script>
</head>
<body class="innerbox">
<div class="layui-form " >
    <div class="layui-form-item layui-inline">
        <div class="layui-form-label">带删除按钮</div>
        <div class="layui-input-block">
            <!-- 添加 clearable 属性, 赋予输入框删除内容的能力, 仅对 input 标签生效-->
            <input type="text" placeholder="输入点东西看看" value="作者真给力!" class="layui-input" clearable />
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label">字数统计</div>
        <div class="layui-input-block">
            <!-- 添加 show-word-limit 属性, 赋予输入框统计字数+限制字数的能力-->
            <!-- input 和 textarea 都可用! 设置 show-word-limit 必须要设置 maxlength -->
            <input type="text" placeholder="输入点东西看看" value="酷啊! Nice!" maxlength="20" class="layui-input" show-word-limit />
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label">字数统计</div>
        <div class="layui-input-block">
            <!--  不废话了, 同理-->
            <textarea rows="3" class="layui-textarea" placeholder="输入点东西看看" maxlength="500" show-word-limit>亲亲抱抱举高高 (づ￣3￣)づ╭❤～</textarea>
        </div>
    </div>
</div>
<i class="layui-icon layui-icon-logout"></i>
<a href="" class="as">的</a>
<span th:text="${info}">234</span>
<!--墨绿分割线-->
<hr class="layui-border-green">
<!--<div class="layui-card" style="height: 58px">-->
<!--    <div class="layui-card-body">-->
<!--        <form action="" class="layui-form" lay-filter="user-query-form">-->
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">用户:</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input class="layui-input" name="realName" placeholder="" type="text">-->
<!--                </div>-->
<!--                <label class="layui-form-label">账号:</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input class="layui-input" name="username" placeholder="" type="text">-->
<!--                </div>-->
<!--                <button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="user-query" lay-submit>-->
<!--                    <i class="layui-icon layui-icon-search"></i>-->
<!--                    查询-->
<!--                </button>-->
<!--                <button class="pear-btn pear-btn-md" type="reset">-->
<!--                    <i class="layui-icon layui-icon-refresh"></i>-->
<!--                    重置-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--<hr class="layui-border-green">-->
<!--<div class="layui-card" >-->
<!--    <div class="layui-card-body">-->
<!--        <form action="" class="layui-form" lay-filter="user-query-form">-->
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">用户:</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input class="layui-input" name="realName" placeholder="" type="text">-->
<!--                </div>-->
<!--                <label class="layui-form-label">账号:</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input class="layui-input" name="username" placeholder="" type="text">-->
<!--                </div>-->
<!--                <button class="pear-btn pear-btn-md pear-btn-primary" lay-filter="user-query" lay-submit>-->
<!--                    <i  class="layui-icon layui-icon-search"></i>-->
<!--                    查询-->
<!--                </button>-->
<!--                <button class="pear-btn pear-btn-md" type="reset">-->
<!--                    <i class="layui-icon layui-icon-refresh"></i>-->
<!--                    重置-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<div class="pear-btn-group">
    <button class="pear-btn pear-btn-success pear-btn-sm" plain round> 分组添加 </button>
    <button class="pear-btn pear-btn-warming pear-btn-sm" plain round> 分组删除 </button>
</div>


<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">编辑器</label>
    <input type="text" lay-verify="title">
    <div class="layui-input-block">
      <textarea class="layui-textarea" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
    </div>
  </div>

<!--<script src="../static/component/layui/layui.js"></script>-->

<script type="text/html" id="experiencetpl">
    <a href="/detail/{{d.id}}" class="layui-table-link">{{d.experience}}</a>
</script>

<th:block th:include="common :: footer"/>
<script>

    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        //表单赋值
        layui.$('#LAY-component-form-setval').on('click', function(){
            form.val('example', {
                "username": "贤心" // "name": "value"
                ,"password": "123456"
                ,"interest": 1
                ,"like[write]": true //复选框选中状态
                ,"close": true //开关状态
                ,"sex": "女"
                ,"desc": "我爱 layui"
            });
        });

        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function(){
            var data = form.val('example');
            alert(JSON.stringify(data));
        });

    });
</script>

<script th:inline="NONE">

    layui.use([ 'table','inputAttr', 'iconExtend'], function(){
        var table = layui.table;
        var layer = layui.layer;
        let inputAttr = layui.inputAttr;
        let iconExtend = layui.iconExtend;
        ant = iconExtend.loadProject('ant_design', {icon_class:'a',style:{color:'cyan'}});
        //2020-09-26T22:26:32
        //\(\d{4}-\d{2}-\d{2}\)T\(\d{2}:\d{2}:\d{2}\)
        var reg = new RegExp('T')

        var dom = $('#teicon')
        let aa = ant.prepend(dom, 'layui-extend-cloud-server',{'color':'blue'})
        console.log(aa)

        inputAttr.render();
        //第一个实例
        // table.render({
        //     elem: '#demo'
        //     ,height: 'full-200'
        //     ,url: '../static/json.json' //数据接口
        //     ,toolbar: 'default'
        //     ,page: true //开启分页
        //     ,loading: true
        //     ,initSort: {
        //         field: 'id' //排序字段，对应 cols 设定的各字段名
        //         ,type: 'asc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
        //     }
        //     ,size:'lg'
        //     ,skin: 'line'
        //     ,even:true
        //     ,cols: [[ //表头
        //         {checkbox: true}
        //         ,{field: 'id', title: 'ID', width:80, sort: true}
        //         ,{field: 'username', title: '用户名', width:80}
        //         ,{field: 'sex', title: '性别', width:65, align: 'center'}
        //         ,{field: 'city', title: '城市', width:80}
        //         ,{field: 'sign', title: '签名',align:'center', width: 177}
        //         ,{field: 'experience', title: '积分', unresize: true,width:165,templet: function(res){
        //                 return '<b>'+ String(res.experience).replace(/T/,' ') +'</b>'
        //             }, sort: true}
        //         ,{field: 'score', title: '评分',unresize:true,edit:true, width: 80, sort: true}
        //         ,{field: 'classify', title: '职业',unresize:true, width: 80}
        //         ,{field: 'wealth', title: '财富', width: 135, sort: true}
        //     ]]
        // });
        //
        // layer.open({
        //     title: '新增'
        //     ,type: 2
        //     ,shade: 0.5
        //     ,shadeClose:true
        //     ,anim:5
        //     ,area: ['550px', '550px']
        //     ,moveOut: true
        //     ,maximum:true
        //     ,content: '#layui-form' //这里content是一个普通的String
        // });
    });
</script>
<script id="user-bar" type="text/html">
    <button
            class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="pear-icon pear-icon-edit"></i>
    </button>
    <!--sec:authorize="hasPermission('/system/user/resetPassword','sys:user:resetPassword')"-->
    <button
            class="pear-btn pear-btn-warming pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-key"></i>
    </button>
    <button
            class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="pear-icon pear-icon-ashbin"></i>
    </button>
</script>
</body>

<!--<form class="layui-form">-->
<!--    <div class="mainBox">-->
<!--        <div class="main-container">-->
<!--            <div class="main-container">-->
<!--                <div class="layui-form-item layui-inline">-->
<!--                    <label class="layui-form-label">用户名:</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input autocomplete="off" class="layui-input" lay-verify="required" name="username" placeholder="请输入用户名"-->
<!--                               type="text">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-form-item layui-inline">-->
<!--                    <label class="layui-form-label">密&emsp;码:</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input autocomplete="off" class="layui-input" lay-verify="required" name="password" placeholder="请输入用户密码"-->
<!--                               type="text">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-form-item ">-->
<!--                    <label class="layui-form-label">邮&emsp;箱:</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input autocomplete="off" class="layui-input" name="email" placeholder="请输入用户邮箱"-->
<!--                               type="text">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-form-item layui-inline">-->
<!--                    <label class="layui-form-label">姓&emsp;名:</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input autocomplete="off" class="layui-input" lay-verify="required" name="realName" placeholder="请输入用户姓名"-->
<!--                               type="text">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-form-item layui-inline">-->
<!--                    <label class="layui-form-label">电&emsp;话:</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input autocomplete="off" class="layui-input" name="phone" placeholder="请输入用户手机号"-->
<!--                               type="text">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">性&emsp;别:</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <input name="sex" title="男" type="radio" value="0">-->
<!--                        <input checked name="sex" title="女" type="radio" value="1">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">部&emsp;门:</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        <ul class="dtree" data-id="0" id="selectParent" name="deptId"></ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">角&emsp;色:</label>-->
<!--                    <div class="layui-input-block">-->
<!--                        &lt;!&ndash;<input lay-skin="primary" name="roleIds" th:each="sysRole:${sysRoles}"&ndash;&gt;-->
<!--                        &lt;!&ndash;       th:title="${sysRole.roleName}" th:value="${sysRole.roleId}" type="checkbox">&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="bottom">-->
<!--        <div class="button-container">-->
<!--            <button class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="user-save" lay-submit="" type="submit">-->
<!--                <i class="layui-icon layui-icon-ok"></i>-->
<!--                提交-->
<!--            </button>-->
<!--            <button class="pear-btn pear-btn-sm" type="reset">-->
<!--                <i class="layui-icon layui-icon-refresh"></i>-->
<!--                重置-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
</html>