<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header('首页')"/>
    <link rel="stylesheet" th:href="@{/static/admin/css/other/console1.css}"/>
    <style>
        .top-panel-tips img{
            width: 50px;
            margin-top: -12px;
        }
        .activateName{
            font-weight: bold;
            margin: 0 10px 0;
        }
        .activateTime{
            font-size: 12px;
            color: #666666e3;
        }
    </style>
</head>
<body class="pear-container">
<div>
    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">今日访问</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" id="value1" style="color: #28333E;">
                            0
                        </div>
                        <div class="layui-col-xs4 layui-col-md4 top-panel-tips">
                            <img th:src="@{/static/admin/images/1.svg}"  alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">本周访问</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" id="value2" style="color: #28333E;">
                            0
                        </div>
                        <div class="layui-col-xs4 layui-col-md4 top-panel-tips">
                            <img th:src="@{/static/admin/images/2.svg}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">本月访问</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" id="value3" style="color: #28333E;">
                            0
                        </div>
                        <div class="layui-col-xs4 layui-col-md4  top-panel-tips">
                            <img th:src="@{/static/admin/images/3.svg}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-header">季度访问</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs8 layui-col-md8 top-panel-number" id="value4" style="color: #28333E;">
                            0
                        </div>
                        <div class="layui-col-xs4 layui-col-md4 top-panel-tips">
                            <img th:src="@{/static/admin/images/4.svg}"  alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-header">动态</div>
                <div class="layui-card-body">
                    <dl class="layuiadmin-card-status">
                        <dd th:each="item : ${reviews}">
                            <div>
                                <p style="color: #999;"><span class="activateName" style="color: #36b368;">[[${item.reviewUserRealName}]]</span>在
                                    <a th:href="'/poem/'+${item.reviewLocationId}" style="color: #1c6ca1" target="_blank">《[[${item.title}]]》 · [[${item.dynasty}]] · [[${item.author}]]</a> 评论
                                </p>
                                <span class="activateTime" th:text="${#strings.contains(item.createTime,'T') ? #strings.replace(item.createTime,'T',' '): item.createTime}" >几秒前</span>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    登录记录
                </div>
                <div class="layui-card-body" style="height: 425px">
                    <ul class="list">
                        <li class="list-item" th:each="log:${logs}">
                            <span class="title" th:text="${log.title}"></span>
                            <span class="footer" th:text="${#strings.contains(log.createTime,'T') ? #strings.replace(log.createTime,'T',' '): log.createTime}"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="common :: footer"/>
<script th:inline="javascript">
    layui.use(['count'], function () {
        let count = layui.count;

        count.up("value1", {
            time: 4000,
            num: [[${thisDay}]],
            regulator: 50
        })

        count.up("value2", {
            time: 4000,
            num: [[${thisWeekend}]],
            regulator: 50
        })

        count.up("value3", {
            time: 4000,
            num: [[${thisMouth}]],
            regulator: 50
        })

        count.up("value4", {
            time: 4000,
            num: [[${thisSeason}]],
            regulator: 50
        })
    });
</script>
</body>
</html>
