<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: header('用户新增')"/>
</head>
<body>
<form class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">用户名:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="username" placeholder="请输入用户名"
                               type="text" maxlength="20" show-word-limit >
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">密&emsp;码:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="password" placeholder="请输入用户密码"
                               type="text" maxlength="20" show-word-limit>
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label">邮&emsp;箱:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" name="email" placeholder="请输入用户邮箱"
                               type="text" maxlength="30" clearable >
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">姓&emsp;名:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="realName" placeholder="请输入用户姓名"
                               type="text" maxlength="10" show-word-limit>
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">电&emsp;话:</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" name="phone" placeholder="请输入用户手机号"
                               type="text" maxlength="11" show-word-limit>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性&emsp;别:</label>
                    <div class="layui-input-block">
                        <input name="sex" title="男" type="radio" value="1">
                        <input checked name="sex" title="女" type="radio" value="0">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">部&emsp;门:</label>
                    <div class="layui-input-block">
                        <ul class="dtree" data-id="0" id="selectParent" name="deptId"></ul>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角&emsp;色:</label>
                    <div class="layui-input-block">
                        <input lay-skin="primary" name="roleIds" th:each="sysRole:${sysRoles}"
                               th:title="${sysRole.roleName}" th:value="${sysRole.roleId}" type="checkbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button class="pear-btn pear-btn-primary pear-btn-sm" lay-filter="user-save" lay-submit="" type="submit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button class="pear-btn pear-btn-sm" type="reset">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="common :: footer"/>
<script>
    layui.use(['form', 'jquery', 'dtree', 'inputAttr'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let dtree = layui.dtree;
        let inputAttr = layui.inputAttr;

        inputAttr.render();

        dtree.renderSelect({
            elem: "#selectParent",
            url: "/system/dept/tree",
            method: 'get',
            selectInputName: {nodeId: "deptId", context: "deptName"},
            skin: "layui",
            dataFormat: "list",
            response: {treeId: "deptId", parentId: "parentId", title: "deptName"},
            selectInitVal: "1"
        });

        form.on('submit(user-save)', function (data) {
            let roleIds = "";
            $('input[type=checkbox]:checked').each(function () {
                roleIds += $(this).val() + ",";
            });
            roleIds = roleIds.substr(0, roleIds.length - 1);
            data.field.roleIds = roleIds;

            $.ajax({
                url: '/system/user/save',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("user-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
</body>
</html>