<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weiyu.chaitoufeng.mapper.system.SysLogMapper">

    <resultMap id="SysLogMap" type="SysLog">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="method" property="method"/>
        <result column="business_type" property="businessType"/>
        <result column="request_method" property="requestMethod"/>
        <result column="operate_name" property="operateName"/>
        <result column="create_time" property="createTime"/>
        <result column="operate_url" property="operateUrl"/>
        <result column="operate_address" property="operateAddress"/>
        <result column="request_param" property="requestParam"/>
        <result column="response_body" property="responseBody"/>
        <result column="success" property="success"/>
        <result column="error_msg" property="errorMsg"/>
        <result column="create_time" property="createTime"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="request_body" property="requestBody"/>
        <result column="logging_type" property="loggingType"/>
        <result column="browser" property="browser"/>
        <result column="system_os" property="systemOs"/>
    </resultMap>

    <select id="selectList" resultMap="SysLogMap">
        select * from sys_logging
        where logging_type = #{loggingType}
        <if test="startTime!=null">
            and create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null">
            and create_time &lt;= #{endTime}
        </if>
        order by create_time desc
    </select>

    <select id="selectTopLoginLog" resultMap="SysLogMap">
        select * from sys_logging
        where logging_type = #{loggingType}
          and operate_name = #{operateName}
        order by create_time desc
        limit 1,9
    </select>

    <insert id="insert" parameterType="SysLog">
        insert into sys_logging
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="method != null">
                method,
            </if>
            <if test="businessType != null">
                business_type,
            </if>
            <if test="requestMethod != null">
                request_method,
            </if>
            <if test="operateName != null">
                operate_name,
            </if>
            <if test="operateUrl != null">
                operate_url,
            </if>
            <if test="operateAddress != null">
                operate_address,
            </if>
            <if test="requestParam != null">
                request_param,
            </if>
            <if test="responseBody != null">
                response_body,
            </if>
            <if test="success != null">
                success,
            </if>
            <if test="errorMsg != null">
                error_msg,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="requestBody != null">
                request_body,
            </if>
            <if test="browser != null">
                browser,
            </if>
            <if test="systemOs != null">
                system_os,
            </if>
            <if test="loggingType != null">
                logging_type
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="method != null">
                #{method},
            </if>
            <if test="businessType != null">
                #{businessType},
            </if>
            <if test="requestMethod != null">
                #{requestMethod},
            </if>
            <if test="operateName != null">
                #{operateName},
            </if>
            <if test="operateUrl != null">
                #{operateUrl},
            </if>
            <if test="operateAddress != null">
                #{operateAddress},
            </if>
            <if test="requestParam != null">
                #{requestParam},
            </if>
            <if test="responseBody != null">
                #{responseBody},
            </if>
            <if test="success != null">
                #{success},
            </if>
            <if test="errorMsg != null">
                #{errorMsg},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="requestBody != null">
                #{requestBody},
            </if>
            <if test="browser != null">
                #{browser},
            </if>
            <if test="systemOs != null">
                #{systemOs},
            </if>
            <if test="loggingType != null">
                #{loggingType},
            </if>
        </trim>
    </insert>

    <select id="getCount" resultType="int" >
        select count(id) from sys_logging
        where create_time >= #{createTime}
    </select>


    <select id="getById" resultMap="SysLogMap">
        select * from sys_logging
        <where>
            <if test=" id != null and id != '' ">
                id = #{id}
            </if>
        </where>
    </select>

</mapper>