<!DOCTYPE html >
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/fragment::header(~{::title})">
    <title>钗头凤 · 作者</title>
</head>
<body>
<th:block th:insert="home/fragment::nav"/>

<th:block th:insert="home/fragment::carousel"/>


<div class="container-fluid poetry_main no-padding">
    <div class="row col-lg-12">
        <div class="col-lg-9 author_part" >
            <div class="author_content">
                <div class="dynasty_kind">
                    <span>朝代：</span>
                    <ul style="display: inline-block">
                        <li class="layui-inline author-dynasty-this">不限</li>
                        <li class="layui-inline">先秦</li>
                        <li class="layui-inline">两汉</li>
                        <li class="layui-inline">魏晋</li>
                        <li class="layui-inline">南北朝</li>
                        <li class="layui-inline">隋代</li>
                        <li class="layui-inline">唐代</li>
                        <li class="layui-inline">五代</li>
                        <li class="layui-inline">宋代</li>
                        <li class="layui-inline">金朝</li>
                        <li class="layui-inline">元代</li>
                        <li class="layui-inline">明代</li>
                        <li class="layui-inline">清代</li>
                        <li class="layui-inline">近代</li>
                    </ul>
                </div>
                <div class="authors_lists">
                    <div class="author_item">
                        <span>魏晋</span>
                        <div class="">
                            独坐幽篁里，弹琴复长啸。深林人不知，明月来相照。
                        </div>
                    </div>
                    <div class="author_item">
                        <span>魏晋</span>
                        <div class="">
                            独坐幽篁里，弹琴复长啸。深林人不知，明月来相照。
                        </div>
                    </div>
                </div>
            </div>

            <!--分页-->
            <div id="author_bottom" class="layui-table-page" style=""></div>

        </div>
    </div>
</div>


<th:block th:insert="home/fragment::footer"/>
<script>
    layui.use(['laypage', 'jquery','popup'], function(){
        let laypage = layui.laypage;
        let $ = layui.jquery;
        let popup = layui.popup;

        //完整功能
        let author_this = function (dynasty) {
            laypage.render({
                elem: 'author_bottom'
                ,count: [[${authorNum}]]
                ,limit: 8
                ,limits: [8, 16, 24]
                ,groups: 1
                ,curr: location.hash.replace('#!pages=', '') //获取起始页
                ,hash: 'pages' //自定义hash值
                ,layout: ['prev', 'page', 'next', 'skip','count', 'limit']
                ,prev: '<i class="layui-icon"></i>'
                ,next: '<i class="layui-icon"></i>'
                ,jump: function(obj){
                    let page={};
                    page.page = obj.curr;
                    page.limit = obj.limit;

                    $.ajax({
                        url: '/home/author/data/'+dynasty,
                        data: page,
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'get',
                        success: function (result) {
                            if (result.code !== 0){
                                popup.failure(result.msg);
                                return
                            }
                            let authors = $('.authors_lists')
                            let data = result.data;

                            let author_item = $('.author_item')
                            for (let i = 0; i < author_item.length; i++) {
                                author_item[i].remove()
                            }

                            for (let i = 0; i < data.length; i++) {
                                let item = '<div class="author_item">\n' +
                                    '    <span><a href="/author/'+data[i].authorId+'">'+data[i].name+
                                    '</a></span>\n' +
                                    '    <div class="author-brief-intro">'+((data[i].briefIntro==='' || data[i].briefIntro===null)?'暂无简介':data[i].briefIntro)+
                                    '    </div>\n' +
                                    '</div>'

                                authors.append(item);
                            }
                        }
                    })
                }
            });
        }

        author_this('不限')

        $('body').on('click','.dynasty_kind ul li',function () {
            $(this).addClass('author-dynasty-this').siblings().removeClass('author-dynasty-this')
            let dynasty = $(this).text();
            author_this(dynasty);
        })
    })
</script>
</body>
</html>