<!DOCTYPE html>
<html lang="zh-CN" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS -->
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link href="../../static/home/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<header style="height: 100vh">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <!--<trans oldtip="Container" newtip="容器">钗头凤</trans>-->
            <strong>钗头凤</strong>
        </a>
        <button class="navbar-toggler collapsed" type="button"
                data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <!--<div class="animated-icon"><span></span><span></span><span></span></div>-->
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample07" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><trans oldtip="Home " newtip="主页">Home </trans><span class="sr-only"><trans oldtip="(current)" newtip="(当前)">(current)</trans></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><trans oldtip="Link" newtip="环">Link</trans></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled"><trans oldtip="Disabled" newtip="有缺陷的">Disabled</trans></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-expanded="false"><trans oldtip="Dropdown" newtip="下拉式" style="">Dropdown</trans></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="#"><trans oldtip="Action" newtip="行动">Action</trans></a>
                        <a class="dropdown-item" href="#"><trans oldtip="Another action" newtip="另一个动作">Another action</trans></a>
                        <a class="dropdown-item" href="#"><trans oldtip="Something else here" newtip="这里有些别的东西">Something else here</trans></a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>
</header>


<div class="container-fluid" style="border: 1px solid #0C0C0C">

<h1>sfv</h1>
    <div class="container-sm">100% wide until small breakpoint</div>
    <div class="container-md">100% wide until medium breakpoint</div>
    <div class="container-lg">100% wide until large breakpoint</div>
    <div class="container-xl">100% wide until extra large breakpoint</div>


    <div class="row">
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="w-100"></div>
        <div class="col">col</div>
        <div class="col">col</div>
    </div>

    <div class="row" style="border: 1px solid #0C0C0C">
        <div class="col">
            1 of 3
        </div>
        <div class="col-6" style="border: 1px solid #0C0C0C">
            2 of 3 (wider)
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    </div>

    <h2>自动布局列</h2>
    <div class="row" >
        <div class="col" style="border: 1px solid #0C0C0C">
            1 of 3
        </div>
        <div class="col-5" style="border: 1px solid #0C0C0C">
            2 of 3 (wider)
        </div>
        <div class="col" style="border: 1px solid #0C0C0C">
            3 of 3
        </div>
    </div>
    <div style="height: 1000px"></div>

</div>
<!-- jQuery and JavaScript Bundle with Popper -->
<script src="../../static/admin/js/jquery.min.js" ></script>
<script src="../../static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>