<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/fragment :: header(~{::title})">
    <title>钗头凤 · 名句</title>
</head>
<body>
<!--<th:block th:insert="home/fragment::nav"/>-->

<th:block th:insert="home/fragment::carousel"/>

<div class="container-fluid poetry_main no-padding">
    <div class="row col-lg-12">
        <div class="col-lg-9 sentence-part" >
            <div class="sentence-content-list">
                <div class="sentenceItem">
                    <div class="sentence">
                        <a class="sentence-left">
                            山有木兮木有枝，心悦君兮君不知。
                        </a>
                        <a href="#" class="sentence-right">
                            佚名《越人歌》
                        </a>
                    </div>
                    <div class="sentenceContent">
                        今夕何夕兮，搴舟中流。今日何日兮，得与王子同舟。
                        蒙羞被好兮，不訾诟耻。心几烦而不绝兮，得知王子。
                        山有木兮木有枝，心悦君兮君不知。
                    </div>
                    <div class="sentenceTool layui-hide">
                        <div class="layui-inline sentence-shouChang">
                            <i class="iconfont icon-shoucang"></i>收藏
                        </div>
                        <div class="layui-inline tags">
                            <i class="iconfont icon-biaoqian"></i>宋词三百首 , 宋词精选 , 婉约 , 长江 , 思念 , 爱情
                        </div>
                        <div class="layui-inline dianZan">
                            <i class="iconfont icon-dianzan"></i>
                            122
                        </div>
                    </div>
                </div>
                <div class="sentenceItem">
                    <div class="sentence">
                        <a class="sentence-left">
                            山有木兮木有枝，心悦君兮君不知。
                        </a>
                        <a href="#" class="sentence-right">
                            佚名《越人歌》
                        </a>
                    </div>
                    <div class="sentenceContent">
                        今夕何夕兮，搴舟中流。今日何日兮，得与王子同舟。
                        蒙羞被好兮，不訾诟耻。心几烦而不绝兮，得知王子。
                        山有木兮木有枝，心悦君兮君不知。
                    </div>
                    <div class="sentenceTool layui-hide">
                        <div class="layui-inline sentence-shouChang">
                            <i class="iconfont icon-shoucang"></i>收藏
                        </div>
                        <div class="layui-inline tags">
                            <i class="iconfont icon-biaoqian"></i>宋词三百首 , 宋词精选 , 婉约 , 长江 , 思念 , 爱情
                        </div>
                        <div class="layui-inline dianZan">
                            <i class="iconfont icon-dianzan"></i>
                            122
                        </div>
                    </div>
                </div>
                <div class="sentenceItem">
                    <div class="sentence">
                        <a class="sentence-left">
                            山有木兮木有枝，心悦君兮君不知。
                        </a>
                        <a href="#" class="sentence-right">
                            佚名《越人歌》
                        </a>
                    </div>
                    <div class="sentenceContent">
                        今夕何夕兮，搴舟中流。今日何日兮，得与王子同舟。
                        蒙羞被好兮，不訾诟耻。心几烦而不绝兮，得知王子。
                        山有木兮木有枝，心悦君兮君不知。
                    </div>
                    <div class="sentenceTool layui-hide">
                        <div class="layui-inline sentence-shouChang">
                            <i class="iconfont icon-shoucang"></i>收藏
                        </div>
                        <div class="layui-inline tags">
                            <i class="iconfont icon-biaoqian"></i>宋词三百首 , 宋词精选 , 婉约 , 长江 , 思念 , 爱情
                        </div>
                        <div class="layui-inline dianZan">
                            <i class="iconfont icon-dianzan"></i>
                            122
                        </div>
                    </div>
                </div>

            </div>

            <!--分页-->
            <div id="page_bottom" class="layui-table-page" style=""></div>

        </div>
    </div>
</div>


<th:block th:insert="home/fragment :: footer"/>
<script>
    layui.use(['laypage', 'jquery','popup'], function(){
        let laypage = layui.laypage;
        let $ = layui.jquery;
        let popup = layui.popup;


        $('.sentenceItem').click(function () {
            $('.sentenceItem').removeClass('selected');
            $('.sentenceItem .sentenceTool').addClass('layui-hide');
            $(this).children('.sentenceTool').removeClass('layui-hide');
            $(this).addClass('selected')
        })


        //完整功能
        laypage.render({
            elem: 'page_bottom'
            ,count: 354
            ,limit: 8
            ,limits: [8, 16, 24]
            ,groups: 1
            ,curr: location.hash.replace('#!pages=', '') //获取起始页
            ,hash: 'pages' //自定义hash值
            ,layout: ['prev', 'page', 'next', 'skip','count', 'limit']
            ,prev: '<i class="layui-icon"></i>'
            ,next: '<i class="layui-icon"></i>'
            ,jump: function(obj){
                let page={};
                page.page = obj.curr;
                page.limit = obj.limit;

                $.ajax({
                    url: '/home/data',
                    data: page,
                    dataType: 'json',
                    contentType: 'application/json',
                    type: 'get',
                    success: function (result) {
                        if (result.code !== 0){
                            popup.failure(result.msg);
                            return
                        }
                        this.count = result.count;
                        let left_card = $('.left_card')
                        let data = result.data;

                        let poem_card = $('.poem-card')
                        for (let i = 0; i < poem_card.length; i++) {
                            poem_card[i].remove()
                        }

                        for (let i = 0; i < data.length; i++) {
                            let poem_card = '<div class="poem-card">'+
                                '<div id='+data[i].poemId +'>'+
                                '<div class="card-title">\n' +
                                '                        <h2 class="poem-title">'+
                                '<a class="title-link" href="" target="_blank">'+data[i].title+'</a>'+
                                '    </h2>\n' +
                                '                    </div>\n' +
                                '                    <div class="poem-author">'+
                                '<p><a class="author_dynasty" href="" target="_blank">'+data[i].dynasty+
                                '</a> : <a class="author_name" target="_blank">'+data[i].author+'</a>'+
                                '   </p>\n' +
                                '                    </div>\n' +
                                '                    <div class="poem-content">'

                            let contents = data[i].content.split('。');

                            let poem_content = '';
                            for (let j = 0; j < contents.length; j++) {
                                if (contents[j].length !== 0){
                                    poem_content += '<p class="p-content">'+contents[j]+'。</p>'
                                }
                            }

                            poem_card += poem_content +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '                <div class="poem-tool">\n' +
                                '                    <div class="layui-inline" id="shouCuang">\n' +
                                '                        <i class="iconfont icon-shoucang" ></i>\n' +
                                '                        <span >'+data[i].shouCuang+'</span>\n' +
                                '                    </div>\n' +
                                '                    <div class="layui-inline" id="xiHuan">\n' +
                                '                        <i class="iconfont icon-xihuan" ></i>\n' +
                                '                        <span >'+data[i].xiHuan+'</span>\n' +
                                '                    </div>\n' +
                                '                    <div class="layui-inline" id="copy">\n' +
                                '                        <i class="iconfont icon-fuzhi" aria-hidden="true"></i>\n' +
                                '                    </div>\n' +
                                '                    <div class="layui-inline dianZan" id="dianZan">\n' +
                                '                        <i class="iconfont icon-dianzan"></i>\n' +
                                '                        <span >'+data[i].dianZan+'</span>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '\n' +
                                '                <div class="poem-tag">'

                            let poem_tag = '';
                            let tags = data[i].tags.replace(/#/g,"  #  ")
                            // for (let j = 0; j < tags.length; j++) {
                            //     poem_tag += '<a href="" class="tag">'+tags[j]+' # </a>'
                            // }
                            poem_card += tags+'    </div>\n' +
                                '            </div>'

                            left_card.prepend(poem_card);
                        }
                    }
                })
            }
        });



        $('body').on('click','.poem-tool div.layui-inline',function () {
            let poem = {};
            let id_value = $(this).attr('id');
            let cur = $(this).children('span');
            poem.poemId = $(this).parent().prev().attr('id');

            switch (id_value) {
                case 'shouCuang':
                    poem.shouCuang = parseInt(cur.text())+1;break;
                case 'xiHuan':
                    poem.xiHuan = parseInt(cur.text())+1;break;
                case 'dianZan':
                    poem.dianZan = parseInt(cur.text())+1;break;
                case 'copy':
                    console.log(id_value);break;
            }
            console.log(JSON.stringify(poem));
            $.ajax({
                url: '/home/poem/update',
                data: JSON.stringify(poem),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success:function (result) {
                    if (result.success){
                        cur.text(parseInt(cur.text())+1);
                        layer.msg('成功');
                    }
                }
            })
            // let cur = $(this).children('span');
            // cur.text(parseInt(cur.text())+1)
        })
    })



</script>
</body>
</html>