<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/fragment :: header(~{::title})">
    <title>钗头凤 · 名句</title>
</head>
<body>
<th:block th:insert="home/fragment::nav"/>

<th:block th:insert="home/fragment::carousel"/>

<div class="container-fluid poetry_main no-padding">
    <div class="row col-lg-12">
        <div class="col-lg-9 sentence-part" >
            <div class="sentence-content-list">
                <div class="sentenceItem">
                    <div class="sentence">
                        <a class="sentence-left">
                            山有木兮木有枝，心悦君兮君不知。
                        </a>
                        <a href="#" class="sentence-right">
                            佚名《越人歌》
                        </a>
                    </div>
                    <div class="sentenceContent">
                        今夕何夕兮，搴舟中流。今日何日兮，得与王子同舟。
                        蒙羞被好兮，不訾诟耻。心几烦而不绝兮，得知王子。
                        山有木兮木有枝，心悦君兮君不知。
                    </div>
                    <div class="sentenceTool layui-hide">
                        <div class="layui-inline sentence-shouChang">
                            <i class="iconfont icon-shoucang"></i>收藏
                        </div>
                        <div class="layui-inline tags">
                            <i class="iconfont icon-biaoqian"></i>宋词三百首 , 宋词精选 , 婉约 , 长江 , 思念 , 爱情
                        </div>
                        <div class="layui-inline dianZan">
                            <i class="iconfont icon-dianzan"></i>
                            122
                        </div>
                    </div>
                </div>
                <div class="sentenceItem">
                    <div class="sentence">
                        <a class="sentence-left">
                            山有木兮木有枝，心悦君兮君不知。
                        </a>
                        <a href="#" class="sentence-right">
                            佚名《越人歌》
                        </a>
                    </div>
                    <div class="sentenceContent">
                        今夕何夕兮，搴舟中流。今日何日兮，得与王子同舟。
                        蒙羞被好兮，不訾诟耻。心几烦而不绝兮，得知王子。
                        山有木兮木有枝，心悦君兮君不知。
                    </div>
                    <div class="sentenceTool layui-hide">
                        <div class="layui-inline sentence-shouChang">
                            <i class="iconfont icon-shoucang"></i>收藏
                        </div>
                        <div class="layui-inline tags">
                            <i class="iconfont icon-biaoqian"></i>宋词三百首 , 宋词精选 , 婉约 , 长江 , 思念 , 爱情
                        </div>
                        <div class="layui-inline dianZan">
                            <i class="iconfont icon-dianzan"></i>
                            122
                        </div>
                    </div>
                </div>
                <div class="sentenceItem">
                    <div class="sentence">
                        <a class="sentence-left">
                            山有木兮木有枝，心悦君兮君不知。
                        </a>
                        <a href="#" class="sentence-right">
                            佚名《越人歌》
                        </a>
                    </div>
                    <div class="sentenceContent">
                        今夕何夕兮，搴舟中流。今日何日兮，得与王子同舟。
                        蒙羞被好兮，不訾诟耻。心几烦而不绝兮，得知王子。
                        山有木兮木有枝，心悦君兮君不知。
                    </div>
                    <div class="sentenceTool layui-hide">
                        <div class="layui-inline sentence-shouChang">
                            <i class="iconfont icon-shoucang"></i>收藏
                        </div>
                        <div class="layui-inline tags">
                            <i class="iconfont icon-biaoqian"></i>宋词三百首 , 宋词精选 , 婉约 , 长江 , 思念 , 爱情
                        </div>
                        <div class="layui-inline dianZan">
                            <i class="iconfont icon-dianzan"></i>
                            122
                        </div>
                    </div>
                </div>

            </div>

            <!--分页-->
            <div id="page_bottom" class="layui-table-page" style=""></div>

        </div>
    </div>
</div>


<th:block th:insert="home/fragment :: footer"/>
<script>
    layui.use(['laypage', 'jquery','popup'], function(){
        let laypage = layui.laypage;
        let $ = layui.jquery;
        let popup = layui.popup;

        //完整功能
        laypage.render({
            elem: 'page_bottom'
            ,count: [[${sentenceNum}]]
            ,limit: 8
            ,limits: [8, 16, 24]
            ,groups: 1
            ,curr: location.hash.replace('#!pages=', '') //获取起始页
            ,hash: 'pages' //自定义hash值
            ,layout: ['prev', 'page', 'next', 'skip','count', 'limit']
            ,prev: '<i class="layui-icon"></i>'
            ,next: '<i class="layui-icon"></i>'
            ,jump: function(obj){
                let page={};
                page.page = obj.curr;
                page.limit = obj.limit;

                $.ajax({
                    url: '/home/sentence',
                    data: page,
                    dataType: 'json',
                    contentType: 'application/json',
                    type: 'get',
                    success: function (result) {
                        if (result.code !== 0){
                            popup.failure(result.msg);
                            return
                        }
                        let data = result.data;

                        let sentence_content_list = $('.sentence-content-list')
                        let sentenceItem = $('.sentenceItem')

                        for (let i = 0; i < sentenceItem.length; i++) {
                            sentenceItem[i].remove()
                        }

                        for (let i = 0; i < data.length; i++) {

                            let item = '<div class="sentenceItem">\n' +
                                '    <div class="sentence">\n' +
                                '     <div>   <a class="sentence-left">'+data[i].sentence+
                                '</a></div>\n' +
                                '    <div class="sentence-title-author">    <a href="#" class="sentence-right">'+data[i].author+' 《'+data[i].title+'》'+
                                '    </a></div>\n' +
                                '    </div>\n' +
                                '    <div class="sentenceContent">'+'今夕何夕兮，搴舟中流。今日何日兮，得与王子同舟。\n' +
                                '        蒙羞被好兮，不訾诟耻。心几烦而不绝兮，得知王子。\n' +
                                '        山有木兮木有枝，心悦君兮君不知。'+
                                '</div>\n' +
                                '    <div class="sentenceTool layui-hide">\n' +
                                '        <div class="layui-inline sentence-shouChang">\n' +
                                '            <i class="iconfont icon-shoucang"></i>收藏\n' +
                                '        </div>\n' +
                                '        <div class="layui-inline tags">\n' +
                                '            <i class="iconfont icon-biaoqian"></i>宋词三百首 , 宋词精选 , 婉约 , 长江 , 思念 , 爱情\n' +
                                '        </div>\n' +
                                '        <div class="layui-inline dianZan">\n' +
                                '            <i class="iconfont icon-dianzan"></i>\n' +
                                '            122\n' +
                                '        </div>\n' +
                                '    </div>\n' +
                                '</div>'




                            // let tags = data[i].tags.replace(/#/g,"  #  ")

                            sentence_content_list.prepend(item);
                        }
                    }
                })
            }
        });


        $('body').on('click','.sentenceItem',function () {
            $('.sentenceItem').removeClass('selected');
            $('.sentenceItem .sentenceTool').addClass('layui-hide');
            $(this).children('.sentenceTool').removeClass('layui-hide');
            $(this).addClass('selected')
        })


        $('body').on('click','.poem-tool div.layui-inline',function () {
            let poem = {};
            let id_value = $(this).attr('id');
            let cur = $(this).children('span');
            poem.poemId = $(this).parent().prev().attr('id');

            switch (id_value) {
                case 'shouCuang':
                    poem.shouCuang = parseInt(cur.text())+1;break;
                case 'xiHuan':
                    poem.xiHuan = parseInt(cur.text())+1;break;
                case 'dianZan':
                    poem.dianZan = parseInt(cur.text())+1;break;
                case 'copy':
                    console.log(id_value);break;
            }
            console.log(JSON.stringify(poem));
            $.ajax({
                url: '/home/poem/update',
                data: JSON.stringify(poem),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success:function (result) {
                    if (result.success){
                        cur.text(parseInt(cur.text())+1);
                        layer.msg('成功');
                    }
                }
            })
        })
    })
</script>
</body>
</html>